    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="#page-top">Dev Sriwararak ขอนแก่น</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#project">ผลงานทั้งหมด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/dev.sriwararak" target="_blank">ติดต่อเรา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!">สมัครสมาชิก</a>
                    </li>
                    <li class="nav-item">&nbsp;&nbsp;</li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-dark" href="/login">เข้าสู่ระบบ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>