<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="alert-secondary p-3">พยากรณ์อากาศ</h2>
            </div>
        </div>

        <div class="row mt-2">
            <hr>
        </div>

        <div class="row text-center">
            <div class="col-md-3 d-sm-none d-md-block"></div>
            <div class="col-md-6 col-md-3 mx-md-auto">
                <div type="button" onclick="city_form()" class="btn btn-lg btn-success p-4 mt-1 mb-1">
                    จากชื่อจังหวัดหรืออำเภอ
                </div>
            </div>
            <div class="col-sm-6 col-md-3 mx-md-3 mx-md-auto">
                <div type="button" onclick="location_form()" class="btn btn-lg btn-primary p-4 mt-1 mb-1">
                    จากพิกัดเส้นรุ้งเส้นแวง
                </div>
            </div>
            <div class="col-md-3 d-sm-none d-md-block"></div>
        </div>

        <div class="row mt-2">
            <hr>
        </div>

        <div class="row" id="city" style="display: none;">
            <div class="col-md-6 mx-auto">
                <form action="/weather/api/city" id="form_city" class="form text-center">
                    <div class="form-group">
                        <label for="">จังหวัดอำเภอของประเทศไทย</label>
                        <select name="city" id="city" class="form-control ml-2">

                            <option value="">เลือก</option>
                            <% lists.forEach(function(list){ %>
                                <option value="<%= list.name %>"><%= list.name %></option>
                                <% }) %>

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">พยากรณ์1</button>
                </form>
            </div>
        </div>

        <div class="row" id="location" style="display: none;">
            <div class="col-6 mx-auto">
                <form action="/weather/api/coordinate" id="form_location" class="text-center">
                    <div class="form-group">
                        <label for="">เส้นแวง</label>
                        <input type="number" name="lon" step="0.0001" class="form-control" id="lon" placeholder="0.0000">
                    </div>
                    <div class="form-group">
                        <label for="">เส้นรุ้ง</label>
                        <input type="number" name="lat" step="0.0001" class="form-control" id="lat" placeholder="0.0000">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">พยากรณ์2</button>
                </form>
            </div>
        </div>


    </div>

    <script>
        function city_form(){
           document.getElementById("city").style.display="block";
           document.getElementById("location").style.display="none";
        }

        function location_form(){
            document.getElementById("city").style.display="none";
           document.getElementById("location").style.display="block";

        }
    </script>

</body>

</html>